.save-segment-btn:hover{
  box-shadow: 4px  4px 4px  4px #9f9797;
}

.cancel-segment-btn:hover{
  box-shadow: 4px  4px 4px  4px #9f9797;
}

.add-segma-btn:hover{
  box-shadow: 2px  2px 2px  2px #9f9797;
}

.Segment-name-style:hover{
  box-shadow: 2px  2px 2px  2px #9f9797;
}